
   <ol class="item-list" data-type="feat" data-subtype="">
      <li class="item item-list-header flexrow items-feats">
        <div class="flexrow">
          <h3 class="item-name flexrow">Army Maneuvers</h3>
          <div class="item-detail item-actions"><i class="item-detail icon icon-gears large" title="Actions"></i></div>
          <div class="item-controls">
            <a class="item-control"><i class="fa-solid fa-folder-plus"></i></a>
          </div>
        </div>
      </li>

  {{#each this.items}}
    {{#if flags.masscombat.ismaneuver}}
      <li class="item flexrow tactic" data-item-id="{{id}}" draggable="true">
          <div class="item-name flexrow">
              <div class="item-image rollable" data-tooltip="show in chat" style="background-image: url('{{img}}')"></div>
              <h4 class="rollable">{{name}}</h4>
          </div>
           <div class="item-detail item-actions">
               <a class="item-control item-action item-mcmaneuver" data-tooltip="use maneuver" ><i class="fa-solid fa-dice-d20"></i></a>
           </div>
           <div class="item-controls">
               <a class="item-control item-edit" data-tooltip="edit"><i class="fas fa-edit"></i></a>
               <a class="item-control item-copy" data-tooltip="copy"><i class="fas fa-copy"></i></a>
               <a class="item-control item-delete" data-tooltip="delete"><i class="fas fa-trash"></i></a>
         </div>
        </li>
            {{/if}}
          {{/each}}

  </ol>
