<div class="tab masscombat" data-group="primary" data-tab="mass-combat">
  <div class="masscombat-statrow">
    {{> modules/masscombat/templates/actor/parts/statrow.hbs}}
  </div>

  <div class="spacer"></div>
  <hr>

  <div class="maneuvers">
    {{> modules/masscombat/templates/actor/parts/maneuvers.hbs}}
  </div>

  <div class="spacer"></div>
  <hr>

  <div class="actions">
    {{> modules/masscombat/templates/actor/parts/actions.hbs}}
  </div>

</div>
